.home-container {
  padding: 8rem 5rem;
  max-width: 900px;
  text-align: center;
  height: 70vh;
}

.home-container h1 {
  color: #202632;
  margin-bottom: 2rem;
}

.home-container p {
  font-size: 1.2rem;
  color: #444;
  line-height: 1.6;
}
