

  .titulo-cadastar-obra {
    margin:0 0 30px 15px;
  }
  
  .inputs-cadastro-obra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px 30px 20px;
  }

  .inputs-cadastro-obra h4 {
    grid-column: span 3; 
    padding: 40px 0 25px 0;
  }

  .form-label {
    margin: 0 0 3px 0;
    font-weight: 500;
  }

  .seguir, .cancelar {
    width: 20vw;
    margin: 0 auto;
    grid-column: span 1; 
    margin-top: 30px;
    font-size: 15px;
  }

  