#obras-section {
  display: flex;
  flex-direction: column;
}

#lista-obras {
  list-style: none;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
}

/* CabeÃ§alho e itens da lista com layout flex igual */
.cabecalho-tabela,
.item-lista {
  display: flex;
  background-color: #ffffff;
  width: 90%;
  margin: 2px auto;
  padding: 20px 0 20px 10px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

/* EstilizaÃ§Ã£o especÃ­fica do cabeÃ§alho */
.cabecalho-tabela {
  background-color: #f1f1f1;
  text-transform: uppercase;
  color: #1c030c;
  font-weight: bold;
  padding: 40px 0 20px 10px;
}

/* Colunas com largura controlada */
.col {
  padding: 4px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Larguras proporcionais */
.col-nome {
  flex: 2;
}
.col-responsavel {
  flex: 2;
}
.col-prazo {
  flex: 1.5;
}
.col-final {
  flex: 1.5;
}
.col-status {
  flex: 1;
}


/* EstilizaÃ§Ã£o da barra de filtros */
#filtro-obras {
  background-color: #ffffff;
  width: 100%;
  height: 8vh;
  color: #1c030c;
  display: flex;
}

/* Container interno de botÃµes + input */
#filtro-obras nav {
  width: 90%;
  display: flex;
  align-items: center;
}

/* BotÃµes de filtro */
.buttons-filtro {
  width: 60vw;
  display: flex;
}

/* Status estilizado com fundo */
.tag-status {
  border-radius: 25px;
  padding: 7px 40px;
  display: flex;
  margin-right: 10px;
}

.em-andamento {
  background-color: #f1f1f1; /* amarelo */
}

.finalizada {
  background-color: #ffffff; /* verde */
  color: rgb(0, 0, 0);
}

.atrasada {
  background-color: #d9534f; /* vermelho */
  color: white;
}

.buttons-filtro button.active {
  text-decoration: underline;
}
.item-lista a {
  color: #000;
  text-decoration: none;
}

.item-lista a:hover {
  text-decoration: underline;
  color: #005f73;
}

