.cadastro-etapas {
    padding: 6vh 0 6vh 0;
}


  /* .botao-cadastrar {
    margin-bottom: 1rem;
    background-color: rgb(76, 175, 80);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  } */
  
  .lista-etapas {
    list-style: none;
    padding: 0;
  }
  
  .etapa-item {
    padding: 1.5rem 0;
    border-bottom: 1px solid #eee;
  }
  
  .etapa-item input {
    margin-right: 0.5rem;
  }
  
  .seta-dropdown {
    color: #aaa;
  }

  label {
    margin-left: 100px;
  }

  span {
    margin-left: 150px;
  }

  .botoes-acoes {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .botao-retangular {
    padding: 0.6rem 1.2rem;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .botao-retangular.seguir {
    background-color: #31B090;
    color: white;
  }

  .adicionar-etapa {
    display: flex;
    justify-content: end;
    padding-bottom: 15px;
  }
  
  .botao-retangular.cancelar {
    background-color: #ccc;
  }

  .icone-botao {
    background-color:#f1f1f1;
    width: 4vw;
    height: 6vh;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  .linha-etapa {
    display: flex;
    align-items: center;
}
  
  .detalhes-etapa {
    background-color: #f9f9f9;
    padding: 1.2rem 3rem;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  
  .detalhes-etapa textarea,
  .detalhes-etapa input {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

.etapa-item .acoes-etapa {
    display: flex;
    gap: 0.5rem;
    margin-right: 100px;
  }

  .botao-excluir {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1;
  }
  .botao-excluir:hover {
    color: red;
  }

  .input-com-erro input,
.input-com-erro textarea {
  border: 1px solid #e74c3c;
}

.erro-validacao {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: 4px;
}
